<div class="breadcrumb-area">
    <ol class="breadcrumb">
        <li class="item">{{projectName}}</li>
    </ol>
</div>

<div class="card">
           

    <div class="card-body widget-todo-list">
        <ul>
            <li>
                <div class="checkbox">
                    <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
                    <label class="cbx" for="cbx">
                        <span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </span>
                    </label>
                </div>

                <div class="todo-item-title">
                    <img src="assets/img/user1.jpg" data-toggle="tooltip" data-placement="top" title="Sarah Taylor" alt="image">
                    <h3>Print bills</h3>
                    <p>There are many variations of...</p>
                </div>

                <div class="todo-item-action">
                    <a href="#" class="edit"><i class='bx bx-edit-alt'></i></a>
                    <a href="#" class="delete"><i class='bx bx-trash'></i></a>
                </div>
            </li>

            <li>
                <div class="checkbox">
                    <input class="inp-cbx" id="cbx2" type="checkbox" style="display: none;"/>
                    <label class="cbx" for="cbx2">
                        <span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </span>
                    </label>
                </div>

                <div class="todo-item-title">
                    <img src="assets/img/user2.jpg" data-toggle="tooltip" data-placement="top" title="Lucy Eva" alt="image">
                    <h3>Call Rampbo</h3>
                    <p>There are many variations of...</p>
                </div>

                <div class="todo-item-action">
                    <a href="#" class="edit"><i class='bx bx-edit-alt'></i></a>
                    <a href="#" class="delete"><i class='bx bx-trash'></i></a>
                </div>
            </li>

            <li>
                <div class="checkbox">
                    <input class="inp-cbx" id="cbx3" type="checkbox" style="display: none;"/>
                    <label class="cbx" for="cbx3">
                        <span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </span>
                    </label>
                </div>

                <div class="todo-item-title">
                    <img src="assets/img/user3.jpg" data-toggle="tooltip" data-placement="top" title="John Smith" alt="image">
                    <h3>Print Statements all</h3>
                    <p>There are many variations of...</p>
                </div>

                <div class="todo-item-action">
                    <a href="#" class="edit"><i class='bx bx-edit-alt'></i></a>
                    <a href="#" class="delete"><i class='bx bx-trash'></i></a>
                </div>
            </li>

            <li>
                <div class="checkbox">
                    <input class="inp-cbx" id="cbx4" type="checkbox" style="display: none;"/>
                    <label class="cbx" for="cbx4">
                        <span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </span>
                    </label>
                </div>

                <div class="todo-item-title">
                    <img src="assets/img/user4.jpg" data-toggle="tooltip" data-placement="top" title="Steven Smith" alt="image">
                    <h3>What reason think</h3>
                    <p>There are many variations of...</p>
                </div>

                <div class="todo-item-action">
                    <a href="#" class="edit"><i class='bx bx-edit-alt'></i></a>
                    <a href="#" class="delete"><i class='bx bx-trash'></i></a>
                </div>
            </li>

            <li>
                <div class="checkbox">
                    <input class="inp-cbx" id="cbx5" type="checkbox" style="display: none;"/>
                    <label class="cbx" for="cbx5">
                        <span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </span>
                    </label>
                </div>

                <div class="todo-item-title">
                    <img src="assets/img/user5.jpg" data-toggle="tooltip" data-placement="top" title="Lucy Smith" alt="image">
                    <h3>Think about business content?</h3>
                    <p>There are many variations of...</p>
                </div>

                <div class="todo-item-action">
                    <a href="#" class="edit"><i class='bx bx-edit-alt'></i></a>
                    <a href="#" class="delete"><i class='bx bx-trash'></i></a>
                </div>
            </li>

            <li>
                <div class="checkbox">
                    <input class="inp-cbx" id="cbx6" type="checkbox" style="display: none;"/>
                    <label class="cbx" for="cbx6">
                        <span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </span>
                    </label>
                </div>

                <div class="todo-item-title">
                    <img src="assets/img/user6.jpg" data-toggle="tooltip" data-placement="top" title="James Anderson" alt="image">
                    <h3>Reason would it be advisable</h3>
                    <p>There are many variations of...</p>
                </div>

                <div class="todo-item-action">
                    <a href="#" class="edit"><i class='bx bx-edit-alt'></i></a>
                    <a href="#" class="delete"><i class='bx bx-trash'></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>

<br>