<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
    <ol class="breadcrumb">

        <li class="item">Dashboard</li>

        <li class="item">Tables</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->

<table>
    <tr *ngFor="let item of [1,2,3]">
      <td>{{item}}</td>
      </tr>
  </table>

<!-- <div class="col-lg-4 col-md-6" >
    <div class="card text-white bg-dark mb-30">
        <div class="card-body">
            <h5 class="card-title font-weight-bold text-white">{{project.projectName}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div> -->